__pycache__/
images/
logs/
UniMiB-SHAR/
UniMiB-SHAR.zip
Notebooks/UniMiB-SHAR/
Notebooks/UniMiB-SHAR.zip
DAGHAR_split_dataset
DAGHAR_split_25_10
DAGHAR_split_25_10_all
DAGHAR_split_25_10.tar
DAGHAR_split_25_10_all.tar
minerva/
Notebooks/Minerva_experiments/
